@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
  position: relative;
  max-width: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  min-width: 100%;
}

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 40.625rem;
  font-size: 1.125rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero:after, .hero:before {
    display: none;
  }
}
.hero:before {
  position: absolute;
  bottom: -1.875rem;
  right: 12%;
  content: url(../img/Rectangle.svg);
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 4.375rem;
  background: url("../img/ellipse.svg") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}
.hero__title-section {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 20.1875rem;
    height: 20.1875rem;
    background: url(../img/ellipse-tablets.svg) center center/contain no-repeat;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__title-section:before {
    width: 23.1875rem;
    height: 23.1875rem;
    margin-bottom: 1rem;
  }
}
.hero__main-title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 8% 9% 0;
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.3rem;
  }
}
.hero__title-desc {
  font-size: 1.3125rem;
  margin-bottom: 3.375rem;
  padding-right: 10%;
  line-height: 1.42;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 23%;
    margin-bottom: 1.375rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 12%;
  }
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.desc__feature-img {
  width: 52px;
  height: 52px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-left: 1.5rem;
  }
}

.menu {
  font-family: "Alegreya Sans", sans-serif;
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.contacts__phone {
  font-size: 1.125rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .contacts__phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header__phone {
    display: none;
  }
}

.contacts__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contacts__icon-elem {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.9375rem;
}

.contacts__text {
  white-space: nowrap;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  margin-right: 3rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature__icon {
  width: 2.8125rem;
  margin-right: 0.9375rem;
}
.feature__text {
  max-width: 7.1875rem;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.button {
  font-weight: bold;
  padding: 1.4375rem 2.625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  background: #E01F3D;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .button {
    padding: 1.5375rem 2.915rem;
    font-size: 1.3rem;
  }
}
.button:hover {
  background: #CA1B36;
}
.button--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  padding: 0.75rem;
  font-weight: normal;
}
.button--transparent:hover {
  color: #E01F3D;
  background: transparent;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3.75rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 2.3rem;
  }
}

.headline {
  text-align: center;
}
.headline__title {
  margin-bottom: 0.5rem;
}
.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 3.625rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 4%;
  }
}

.benefits {
  position: relative;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0625rem;
  }
}
.benefits__item:before {
  content: url(../img/decor.svg);
  position: absolute;
  top: 1.875rem;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}
.benefit__img-wrapper {
  display: inline-block;
  width: 7.8125rem;
  height: 7.875rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.0625rem;
}
@media screen and (max-width: 480px) {
  .benefit__img-wrapper {
    margin-bottom: 0;
    margin-right: 1.25rem;
    width: 8.8125rem;
    height: 8.875rem;
  }
}
.benefit__icon {
  width: 4.6875rem;
  height: 4.3125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
  .benefit__icon {
    width: 4.9875rem;
    height: 4.7125rem;
  }
}
.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    font-size: 1.7rem;
    padding: 4% 0 0;
  }
}
.benefit__desc {
  color: #666;
  padding: 0 11%;
  line-height: 1.1;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    padding: 0;
  }
}

.reviews {
  position: relative;
}
.reviews:before {
  content: url(../img/Ellipse-gray.svg);
  position: absolute;
  bottom: -3%;
  left: 5%;
}
.reviews__display {
  background: #F8FAF9;
  padding: 3.125rem 2.8125rem 2.125rem;
  margin-bottom: 1.3125rem;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.625rem;
  height: 5.625rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -4.0625rem;
}
.reviews__list {
  position: relative;
  min-height: 280px;
}
.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}
.reviews__avatar {
  width: 15.875rem;
  height: 16.25rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.5625rem;
    height: 8.5625rem;
  }
}
.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.625rem;
  margin-top: 1.875rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}
.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5625rem;
  color: black;
}
.reviews__text {
  margin-bottom: 2.6875rem;
  padding: 0 30% 0 0;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding: 0;
  }
}
.reviews__author {
  font-size: 1.125rem;
  font-weight: bold;
  color: black;
}
.reviews__switcher {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fill-available;
}

.interactive-avatar {
  width: 5rem;
  height: 5rem;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interactive-avatar.active {
  border-color: #E01F3D;
}

.order {
  background: #181818;
  color: #fff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 19%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.625rem;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__block {
    margin: 5px 11px;
  }
}
.form__input {
  width: 100%;
  padding: 1.125rem 0.6875rem;
  border: solid 0.1875rem transparent;
  border-radius: 0.1875rem;
}
.form__input--textarea {
  height: 6.25rem;
  resize: none;
  height: 9.375rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.375rem;
  }
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.425rem 0.875rem;
  }
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .form__controls {
    padding-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-error {
  border-color: red;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.5625rem;
  padding: 0.4375rem 0;
}
.radio--checkbox {
  padding-bottom: 3.125rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.1875rem;
}
.radio--checkbox .radio__visible:before {
  background: url(../img/galochka.svg) center center no-repeat;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}
.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible:before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 24%;
  left: 24%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}

.fixed-menu {
  position: fixed;
  top: 35%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  content: "";
  background: #E01F3D;
}
.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 24px;
  height: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  opacity: 0.998;
}

.modal {
  position: relative;
}
.modal__content-menu {
  width: 300px;
  color: #fff;
  margin: 0;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}
.modal__item {
  text-decoration: none;
  padding: 2px;
}

.close {
  content: url(../img/close.svg);
  color: #fff;
  position: absolute;
  right: 2.625rem;
  top: 2.625rem;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.map {
  height: 648px;
  background: url(../img/map.png) center center no-repeat;
}

.address {
  padding-left: 0.5rem;
  font-size: 1.3rem;
  font-style: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.4375rem 0;
  background: #fff;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__contacts {
  padding: 1rem;
}
.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 1rem;
}
.social__item {
  margin-right: 0.625rem;
}
.social__item-elem {
  width: 1.875rem;
  height: 1.875rem;
  color: #B3B3B3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social__item-elem:hover {
  color: #000;
}

.devices {
  background: #F8FAF9;
  position: relative;
}
.devices:before {
  content: url(../img/quad.svg);
  position: absolute;
  bottom: -1.875rem;
  right: 5%;
}
.devices:after {
  content: url(../img/vector-red.svg);
  position: absolute;
  top: -2%;
  left: 5%;
}
.devices__display {
  padding: 20px 28px 0 0;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .devices__display {
    width: 100%;
    padding: 0;
  }
}
.devices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .devices__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.devices__img {
  width: 55%;
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .devices__img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-right: 0;
  }
}
.devices__img-elem {
  width: 450px;
  height: 450px;
  min-width: 100%;
  padding: 0 3.625rem;
}
@media screen and (max-width: 768px) {
  .devices__img-elem {
    width: 390px;
    height: 350px;
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .devices__img-elem {
    width: inherit;
  }
}
.devices__content {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .devices__content {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.devices__title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .devices__title {
    font-size: 1.75rem;
    margin-bottom: 4%;
  }
}
.devices__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.devices__text {
  color: #666;
  padding: 0 49px 0 0;
  margin-bottom: 31px;
}
@media screen and (max-width: 480px) {
  .devices__text {
    padding: 0;
    margin-bottom: 8%;
    line-height: 1.1;
  }
}
.devices__features {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 70%;
  margin-bottom: 34px;
}
@media screen and (max-width: 768px) {
  .devices__features {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 23px;
  }
}
@media screen and (max-width: 480px) {
  .devices__features {
    width: 84%;
    margin-bottom: 2.75rem;
  }
}
.devices__feature {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .devices__feature:last-child {
    text-align: left;
  }
}
.devices__type-feat {
  color: #666;
}
.devices__value-feat {
  font-size: 18px;
  font-weight: bold;
}
.devices__purchase {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (max-width: 768px) {
  .devices__purchase {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.devices__price {
  font-size: 2.25rem;
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .devices__price {
    font-size: 2.5rem;
    margin-right: 35px;
  }
}
@media screen and (max-width: 480px) {
  .devices__price {
    font-size: 1.9375rem;
    margin-right: 24px;
  }
}

.bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  background: transparent;
}

.devices__arrow {
  background: url(../img/right.svg);
  background-size: contain;
  display: block;
  width: 0.8125rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .devices__arrow {
    height: 1.57rem;
    top: 26%;
  }
}
.devices__arrow--direction--next {
  right: 0;
}
.devices__arrow--direction--prev {
  left: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 18px;
}
@media screen and (max-width: 768px) {
  .dropdown {
    display: none;
  }
}
.dropdown__button {
  width: 90px;
  height: 90px;
  background: #9a9a9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 24px;
}
.dropdown__logo {
  width: 42px;
  height: 42px;
}
.dropdown__features {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  left: -9999px;
}
.dropdown__content {
  color: black;
  padding: 15px 20px 15px 10px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.dropdown__content:hover {
  background-color: #ddd;
}
.dropdown__img {
  width: 54px;
  height: 24px;
}
.dropdown__feature {
  width: 125px;
  text-align: left;
}
.dropdown__value {
  width: 50px;
  text-align: right;
}

.dropdown:hover .dropdown__features {
  display: inline-block;
  opacity: 1;
  left: initial;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 20px;
  position: relative;
  width: auto;
}
@media screen and (max-width: 768px) {
  .team__item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-right: 0;
    max-width: 220px;
  }
}
.team__member {
  height: auto;
  margin-bottom: 20px;
}
.team__member-img {
  max-width: 100%;
}
.team__title {
  color: #292929;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}
.team__title-name {
  display: list-item;
  padding-right: 10px;
}
.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}
.team__content-block {
  padding-bottom: 5px;
}

.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team--version--mobile .team__item {
  margin-bottom: 10px;
}

.mem-info {
  width: 9px;
  height: 9px;
  min-width: auto;
}

.overlay-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  opacity: 0.998;
}

.modal {
  position: relative;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 175px;
}
.modal__content {
  margin-bottom: 15px;
  color: #000;
  padding-bottom: 25px;
  font-size: 18px;
}