.button{
    font-weight: bold;
    padding: rem(23px) rem(42px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border: none;
    background: $red;
    color: #fff;

    @include phones {
        padding: 1.5375rem 2.915rem;
        font-size: 1.3rem;
    }

    &:hover{
        background: $hover-red;
    }

    &--transparent{
        background: transparent;
        color: #fff;
        text-transform: none;
        padding: rem(12px);
        font-weight: normal;

        &:hover{
            color: $red;
            background: transparent;
        }
    }

}

