.button{
    font-weight: bold;
    padding: 23px 42px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    border: none;
    background: $red;
    color: #fff;

    &:hover{
        background: $hover-red;
    }

    &--transparent{
        background: transparent;
        color: #fff;
        text-transform: none;
        padding: 12px;
        font-weight: normal;

        &:hover{
            color: $red;
            background: transparent;
        }
    }

}

