.fixed-menu{
    position: fixed;
    top: 35%;
    right: 3%;
    z-index: $z-fixed-menu;

    @include tablets {
        display: none;
    }

    &__item{
        margin-bottom: rem(5px);

        &--active{
            .fixed-menu__link{
                border-color: $red;

                &:before{
                    content: "";
                    background: $red;
                }
            }
        }
    }

    &__link{
        width: rem(16px);
        height: rem(16px);
        border-radius: 50%;
        border: rem(1px) solid transparent;
        display: block;
        position: relative;

        &:hover{
            border-color: $red;
        }

        &:before{
            content: "";
            display: block;
            width: rem(6px);
            height: rem(6px);
            border-radius: 50%;
            background: $black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.fixed-menu--black{
        .link:hover {
            background: $black;
        }

        .fixed-menu__link:before{
            background: $black;
        }

        .fixed-menu__link:hover{
            border-color: $black;
        }

        .fixed-menu__item--active{
            .fixed-menu__link{
                border-color: $black;
            }

        }
    }

    &.fixed-menu--red{
        .link:hover {
            background: $red;
        }

        .fixed-menu__link:before{
            background: $red;
        }

        .fixed-menu__link:hover{
            border-color: $red;
        }

        .fixed-menu__item--active{
            .fixed-menu__link{
                border-color: $red;
            }

        }
        
        
    }
}