.fixed-menu{
    position: fixed;
    top: 35%;
    right: 3%;
    z-index: $z-fixed-menu;

    &__item{
        margin-bottom: 5px;

        &--active{
            .fixed-menu__link{
                border-color: $red;

                &:before{
                    content: "";
                    background: $red;
                }
            }
        }
    }

    &__link{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid transparent;
        display: block;
        position: relative;

        &:before{
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}