.hamburger{
    width: 24px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    outline: none;
    border: none;
    cursor: pointer;

    @include tablets {
        display: inline-flex;
    }

    &__plank{
        display: block;
        background: $black;
        height: 4px;
        border-radius: 10px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 0.998;
  }
  
  .modal-menu {
    position: relative;

    &__content {
      color: #fff;
      width: 300px;
      margin: 0;
      font-size: 36px;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 1;
    }

    &__item{
        text-decoration: none;
        padding: 2px;
    }
  }
  

  
  .close {
    content: url(../img/close.svg);
    color: #fff;
    position: absolute;
    right: rem(42px);
    top: rem(42px);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
  }
  
