.headline{
    text-align: center;

    &__title{
        margin-bottom: rem(8px);
    }

    &__subtitle{
        padding: 0 26%;
        margin-bottom: rem(58px);

        @include phones {
            padding: 0 4%;
        }
    }
}

