.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{
    width: 40px;
    height: 40px;

    @include tablets {
        margin-left: 1.5rem;
    }
}

.menu{
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0 30px;
    padding-top: 5px;

    @include tablets {
        display: none;
    }

    &__list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item{
        margin-right: rem(27px);
        margin-bottom: 10px;
    
        &:last-child {
            margin-right: 0;
        }
    }

    &__link{
        text-decoration: none;
        white-space: nowrap;
    }
}

.contacts__phone{
    font-size: rem(18px);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-style: normal;

    @include phones {
        justify-content: center;
    }
}

.header__phone{
    @include tablets {
        display: none;
    }
}

.contacts__icon{
    flex-shrink: 0;
}

.contacts__icon-elem{
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(15px);
}


.contacts__text{
    white-space: nowrap;
}