.headline{
    text-align: center;

    &__title{
        margin-bottom: rem(8px);

        @media screen and (max-width: 380px) {
            font-size: 2rem;
        }
    }

    &__subtitle{
        padding: 0 26%;
        margin-bottom: rem(58px);

        @include phones {
            padding: 0 4%;
        }

        @media screen and (max-width: 380px) {
            font-size: 0.95rem;
        }
        
    }
}