.overlay-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 0.998;
  }

.modal {
    position: relative;

    &.error-modal {
        .modal__content {
            color: red;
        }
    }

    &__container{
        background: #fff;
        padding: 35px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 310px;
        height: 175px;
    }

    &__content{
        margin-bottom: 15px;
        color: #000;
        padding-bottom: 25px;
        font-size: 18px;
    }
}