
.modal {
    display: none;

    &.error-modal {
        .modal__content {
            color: red;
        }
    }


    &__container{
        background: #fff;
        padding: 17px 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 310px;
        height: 180px;
        text-align: center;
    }

    &__content{
        margin-bottom: 10px;
        color: #000;
        padding-bottom: 25px;
        font-size: 18px;
    }
}

.fancybox-content {
    padding: 0 !important;
}

.fancybox-button {
    display: none;
}

.input-error .form__input{
    border-color: red;
}