.radio{
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(25px);
    padding: rem(7px) 0;

    &--checkbox{
        padding-bottom: rem(50px);
        
        .radio__visible{
            border-radius: rem(3px);

            &:before{
                background: url(../img/galochka.svg) center center no-repeat;
            }
        }
    }

    &__elem{
     display: none;   

     &:checked ~ .radio__visible{
         &:before{
             display: block;
         }
     }
    }

    &__visible{
        width: rem(26px);
        height: rem(26px);
        position: relative;
        border-radius: 50%;
        background: #fff;
        margin-right: rem(10px);

        &:before{
            content: "";
            width: rem(14px);
            height: rem(14px);
            background: $red;
            border-radius: 50%;
            position: absolute;
            display: none;
            top: 24%;
            left: 24%;
            transform: translate(-50% -50%);
        }
    }
}